.question{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.question h2{
    padding-bottom: .5em;
}

.question p{
    font-size: 1.2em;
    border-bottom: 2px solid var(--AccentColor);
    border-radius: 1px;
    padding-bottom: .5em;
}

.question span{
    color: var(--AccentColor);
    font-weight: bold;
    text-transform: uppercase;
}


.question button{
    margin-top: 1em;
}