*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

:root{
  --BgColor1:#6BB7BF;
  --BgColor2: #37848C;
  --QuizColor: #F0F0F2;
  --AccentColor: #023A40;
}

body{
  min-height: 100vh;
  height: auto;
  background: linear-gradient(90deg , var(--BgColor1), var(--BgColor2));
}

h1,h2{
  font-weight: 700;
  color: var(--AccentColor);
}


button{
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 10px;
  background: var(--AccentColor);
  border: 2px solid var(--QuizColor);
  color: var(--QuizColor);
  cursor: pointer;
  transition: .2s;
}

button:hover{
  background: var(--QuizColor);
  color: var(--AccentColor);
  border-color: var(--AccentColor);
}